# Compiled class file
*.class
*.xml
*.properties
*.mf

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Chapter-6 Coding Exercises/dist/
/Chapter-7 Coding Exercises/nbproject/private/
/Chapter-7 Coding Exercises/build/
/Chapter-7 Coding Exercises/dist/
/Chapter-8 Coding Exercises/nbproject/private/
/Chapter-8 Coding Exercises/build/
/Chapter-9 CodingExercises/nbproject/private/
/Chapter-9 CodingExercises/build/
/Chapter-10 Coding Exercises/nbproject/private/
/Chapter-10 Coding Exercises/build/
/Chapter-10 Coding Exercises/dist/
